@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

#main-container {
  @apply max-w-2xl mx-auto px-6 py-12 md:py-20;
}

header {
  @apply mb-16 flex flex-row items-center justify-between;
}

header .mode-toggle {
  @apply hover:-translate-y-0.5 inline-flex h-9 w-9 items-center justify-center rounded-lg bg-slate-100 p-0 text-slate-600 transition duration-150 hover:scale-105 hover:bg-slate-200 hover:text-slate-900 focus:outline-none active:translate-y-0 active:scale-100 dark:bg-slate-800 dark:text-slate-300 dark:hover:bg-slate-700 dark:hover:text-white } footer { @apply mt-24 flex flex-col items-center justify-between border-slate-200 border-t pt-8 text-slate-600 text-sm sm:flex-row dark:border-slate-800 dark:text-slate-400;
}

#hero-section {
  @apply mb-16;
}
