@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

#main-container {
  @apply max-w-2xl mx-auto px-6 py-12 md:py-20;
}

footer {
  @apply mt-24 flex flex-col items-center justify-between border-slate-200 border-t pt-8 text-slate-600 text-sm sm:flex-row dark:border-slate-800 dark:text-slate-400;
}
